* {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  font-size: 14px;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

*::after,
*::before {
  box-sizing: border-box;
}

.section-header {
  font-weight: bold;
  font-size: 20px;
  margin: 30px 0;
}

input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;

  padding: 12px;
  border-radius: 3px;
  min-width: 250px;
  outline: none;
  font-size: 13px;
}

/* input:focus::placeholder {
  color: transparent;
}

input::placeholder {
  color: #222;
} */

/* Design custom field 1 */

.custom-field-1,
.custom-field-2,
.custom-field-3 {
  position: relative;
  font-size: 13px;
  padding-top: 20px;
  margin-bottom: 5px;
}

.custom-field-1 input {
  background-color: #f2f2f2;
}

.custom-field-1 .placeholder,
.custom-field-2 .placeholder,
.custom-field-3 .placeholder {
  position: absolute;
  left: 12px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: #aaa;
  cursor: text;
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease,
    font-weight 0.3s ease;
}

.custom-field-1 input:focus + .placeholder,
.custom-field-1 input:valid + .placeholder,
.custom-field-2 input:focus + .placeholder,
.custom-field-2 input:valid + .placeholder,
.custom-field-3 input:focus + .placeholder,
.custom-field-3 input:valid + .placeholder {
  top: -5px;
  font-size: 12px;
  color: #222;
  font-weight: 600;
}

/* Design custom input field 2 */

.custom-field-2 input {
  background: none;
  border: 1.5px solid #ddd;
}

.custom-field-2 input:focus,
.custom-field-2 input:valid {
  border-color: #222;
  transition-delay: 0.1s;
}

.custom-field-2 input + .placeholder {
  padding: 0 5px;
  left: 8px;
}

.custom-field-2 input:focus + .placeholder,
.custom-field-2 input:valid + .placeholder {
  top: 7px !important;
  background-color: #fff;
}

.custom-field-3 input {
  border-radius: 3px 3px 0 0 !important;
  background: linear-gradient(90deg, #222, #222) center bottom/0 2px no-repeat,
    linear-gradient(90deg, #ccc, #ccc) left bottom/100% 2px no-repeat,
    linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;

  transition: background-size 0.3s ease;
}

.custom-field-3 input:valid,
.custom-field-3 input:focus {
  background-size: 100% 2px, 100% 2px, 100%;
}
